# .github/workflows/release.yml
name: Release
on:
  release:
    types: [created]
jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: x64
      - name: Install dependencies
        run: |
          pip install poetry>=1.1.7
      - name: Build and publish
        run: |
          poetry version $(git describe --tags --abbrev=0 | sed 's/v//')
          poetry publish --build --username=__token__ --password=${{ secrets.PYPI_TOKEN }} -v
